In [9]:
import pandas as pd

# Load the data (adjust path as needed)
# df = pd.read_csv('data/quotes.csv', quoting=csv.QUOTE_MINIMAL)
df = pd.read_csv('data/processed_dataset.csv')

In [12]:
# df.describe()

,quote,author,category
count,8198,8195,8198
unique,8198,3661,5531
top,"I'm selfish, impatient and a little insecure. ...","Roy T. Bennett, The Light in the Heart",inspirational
freq,1,157,741